/*=================================*/
/* Pico Default Theme
/* By: Gilbert Pellegrom
/* http: //dev7studios.com
/*=================================*/

/* Reset Styles
/*---------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
    color: black;
    background: white;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
    display: block;
}

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button {
    cursor: pointer;
}

/* make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
    width: auto;
    overflow: visible;
}

/* Sharper Thumbnails */
img {
    -ms-interpolation-mode: bicubic;
}

/* Input Styles
/*---------------------------------------------*/
input,
textarea,
select {
    padding: 5px;
    font: 400 1em Verdana, Sans-serif;
    color: #666;
    background: #fff;
    border: 1px solid #999999;
    margin: 0 0 1em 0;
}

input:focus,
textarea:focus,
select:focus {
    color: #000;
    background: #fff;
    border: 1px solid #666666;
}

/* Main Styles
/*---------------------------------------------*/
html { height: 100%; }

body {
 
    display: flex;
    flex-direction: column;
    height: 100%;
}
sub {
    vertical-align: sub;
    font-size: smaller;
}

sup {
    vertical-align: super;
    font-size: smaller;
}


/* Structure Styles
/*---------------------------------------------*/
section#sect-mainpage {
    display: block;
    width: 50%;
    min-width:300px;
    margin-left: auto;
    margin-right:auto;
    margin-top: 30px;

    padding-top: 20px;
    padding-bottom: 20px;

    -webkit-box-shadow: 0px 0px 30px 2px rgba(110,110,110,1);
    -moz-box-shadow: 0px 0px 30px 2px rgba(110,110,110,1);
    box-shadow: 0px 0px 30px 2px rgba(110,110,110,1);

    background-color: rgb(238, 238, 238);
    border: 2px solid #6e6e6e;

    /*center*/
    position: absolute;
    top: 30%;
    transform: translate(-50%, -30%);
    left: 50%;
}
div#genwrapper-mainpage {
    width:100%;
    position: relative;
    height: 100%;
}
h1#sitetitle-mainpage{
    width:100%;
    text-align: center;
    font-family: Monospace;
    font-size:50px;
    clear: both;
    color:black;
}
div#general-sitesections-mainpage{
    width:100%;
    clear:both;
    color:black;
    display: table;
    margin-top:30px;
    margin-bottom: 30px;
}
div#r-sitesections-mainpage{
    width:100%;
    display:table-row;
    
}
div.itm-sitesections-mainpage{
    width:50%;
    display: table-cell;
    padding-top: 10px;
    padding-bottom: 10px;
}
div.pyctogram-itm-sitesections-mainpage {
    width:100%; 
    text-align:center;
    font-size:100px;
}
div.caption-itm-sitesections-mainpage {
    width:100%; 
    text-align:center;
    font-size:25px;
    font-family: monospace;
}
div.pyctogram-itm-sitesections-mainpage a, div.caption-itm-sitesections-mainpage a {
    text-decoration: none;
    color:black;
}
/*general pages template - header*/
header#header {
    background-color: black;
    width:100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
h1#header-logo {
    float:left;
}
a#logo {
    font-family: monospace;
    font-weight: bold;
    color: white;
    font-size:30px;
    text-decoration: none;
}
header#header div.inner {
    width: 75%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
div#header-generalcategories {
    clear:both;
    color: white;

}
div#header-generalcategories > span > a, div#header-importantpages > span > a {
    color:white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    letter-spacing: 3px;
}

div#header-navigations {
    float:right;
    position: relative;
}
div#header-importantpages {
   text-align: center;
   font-family: sans-serif;
   font-size: 15px;
   letter-spacing: 2px;
   color: white;
   line-height:25px;
   border-top-color: white;
   border-top-style: dotted;
   border-top-width: 1px;
   position: relative;
}
#header-navheader-itm-pagestext, #header-navheader-itm-prjtext, #header-navheader-itm-notestext{
    display: inline;
}
#header-navheader-itm-pagesicon, #header-navheader-itm-prjicon, #header-navheader-itm-notesicon{
    display: none;
}
#header-navheader-itm-pageslist {
    display:none;
    position:absolute;
    top:2em;
    border-style: solid; border-color: white;
    background-color: black;
    font-family: sans-serif;
    
}
/*general pages template - footer*/

div#footer-ownername {
    float:left;

    color:white;
    font-family: Tahoma, Geneva, sans-serif;
    color:black;

}
div#footer-credentials {
    float:right;
    position:relative;
    font-family: Tahoma, Geneva, sans-serif;
    color:black;
}
footer#footer {
    background-color: #B7B7BD;
    width:100%;
    padding-top: 20px;
    padding-bottom: 20px;
    float: right;
}
footer#footer div.inner {
    width: 75%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
/* CONTENT STYLING */
section#content {
    background-color: white;
}
h1.general-h1-superhuge{
    font-family: monospace;
    color: black;
    width: 100%;
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}
section#content div.inner {
    width: 70%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
body#body-backgrounded {
    background-repeat: repeat;
    background-image: url('./backgrounds/triangular.png');
}
/* Misc Styles
/*---------------------------------------------*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/* Media Queries
/*---------------------------------------------*/

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .inner {
        width: 85%;
    }
    .inner img {
        width:100%;
    }
    #header {

    }
    #header h1 {

    }
    #header nav {

    }
    #header nav ul {

    }
    #header nav li {
        display: block;
        float: left;
        width: 50%;
        text-align: center;
    }
    #header nav li a {
        display: block;
        margin: 0;
        padding: 10px 0;
    }
    #footer {

    }
}
@media only screen and (max-width: 400px) {
#header-navheader-itm-pagestext, #header-navheader-itm-prjtext, #header-navheader-itm-notestext{
    display: none;
}
#header-navheader-itm-pagesicon, #header-navheader-itm-prjicon, #header-navheader-itm-notesicon{
    display: inline;
}
#header-navheader-itm-pagesicon span, #header-navheader-itm-prjicon a span, #header-navheader-itm-notesicon a span {
    font-size: 30px;
}
div#header-importantpages {
    border-top-width: 0;
}
}
